/*PALETA DE COLORES:
Celeste oscuro: #2E424D
Celeste:        #5B8291
Celeste claro:  #98DAD9
Blanco:         #EAEBED
Negro:          #252525
*/

:root { /*Variables*/
    --grey: #EAEBED;
    --sky-blue: #5B8291;
    --dark-sky-blue: #2E424D;
    --dark: #252525;
    --light-sky-blue: #98DAD9;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*De esta manera incluyo el padding y el border en la altura-ancho total*/
}

html {
    font-family: 'Lato', sans-serif;
    color: var(--primary-text-color);
    min-width: 375px;
}

.mid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor main {
    padding: 64px;
}

.contenedor main section {
    background: var(--white);
    border-radius: 16px;
    width: 50%;
    height: auto;
    padding: 16px;
}

.contenedor main .saludo {
    align-items: left;
}

.contenedor main #show-balance-container .int-balance{
    font-size: 1.5em;
}
.contenedor main #show-balance-container .decimal-balance{
    font-size: 1.3em;
}

.contenedor main #hidden-balance-container{
    display: none;
}
.contenedor main #hidden-balance{
    letter-spacing: 3.03px;
}

/*Información de INICIO*/
.contenedor main .saldos {
    display: grid;
    grid-template-columns: 1fr; /* Primera columna ocupa espacio restante, segunda columna se ajusta al contenido */
    grid-template-rows: 0.5fr 0.1fr 1fr 0.1fr 1fr;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contenedor main .saldos h1 {
    margin: 0; /* Eliminar el margen */
}

.contenedor main .saldos img {
    width: 30px;
    height: 30px;
    padding: 0.2rem;
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1.1);
    margin: 2.5px;
    margin-right: 5px;
}

.contenedor main .saldos .show-eye-buttom{
    opacity: 1;
}
.contenedor main .saldos .hidden-eye-buttom{
    opacity: 0.4;
}

.contenedor main .main-block-header{
    font-size: 15px;
    opacity: 0.4;
}

.contenedor main .main-block-balance{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.contenedor main .saldos button {
    font-size: medium;
    background-color: white;
    color: black;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.contenedor main .saldos button:hover {
    background-color: var(--primary-text-color);
    color: white;
}

.contenedor main .datos-cuenta {
    text-align: right;
    /* Estilos para Datoscuenta */
}

.contenedor main .promotions-container {
    align-self: flex-end; /* Alinear el contenedor al final del espacio disponible */
}

.contenedor main .saldos .main-block-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con igual ancho */
    margin-left: 10px;
    margin-right: 10px;
    gap: 35px; /* Espacio entre las opciones */
    align-items: center; /* Centrar verticalmente */
}

.contenedor main .saldos .opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor main .saldos .opcion .saldo-button {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    background-size: 60%; /* Tamaño del icono de fondo */
    background-repeat: no-repeat;
    background-position: center; /* Centrar el icono */
}

.contenedor main .saldos .opcion .opcion-contenido {
    display: none;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.contenedor main .saldos .opcion:hover .opcion-contenido {
    display: block;
}

#ingresarDineroButton {
    background-image: url('/resources/img/IngresarDinero.png'); /* Ruta de la imagen de fondo */
}

#extraerDineroButton {
    background-image: url('/resources/img/RetirarDinero.png'); /* Ruta de la imagen de fondo */
}

#invertirButton {
    background-image: url('/resources/img/invertir.png'); /* Ruta de la imagen de fondo */
}

.contenedor main  .cuentas{
    margin-left: 40px;
    display: grid;
    grid-template-rows: 0.7fr 0.1fr 1fr 1fr 1fr ;
    align-items: center;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contenedor main .cuenta{
    border-bottom: black;
    font-size: 18px;
}
  
/* Estilos para dispositivos medianos */
@media screen and (max-width: 1023px) {

}
  
/* Estilos para dispositivos pequeños (móviles) */
@media screen and (max-width: 640px) {
    
}