h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5); 
    background-size: cover; 
    background-position: center center; 
    padding: 24px; 
}

.contenedor{
    background-color: var(--white);
    opacity: 0.7;
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    z-index: 1;
}
h3 {
    font-size: 24px; 
    font-weight: normal; 
    color: #fff; 
    text-align: initial; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-bottom: 12px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db; /* Color del borde */
    color: #3498db; /* Color del texto */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 5px; /* Borde redondeado */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al pasar el ratón */
}

  /* Estilos adicionales cuando el ratón está sobre el botón */
button:hover {
    background-color: #3498db; /* Nuevo color de fondo al pasar el ratón */
    color: #ffffff; /* Nuevo color de texto al pasar el ratón */
}
.error {
    font-size: 24px; 
    font-weight: normal; 
    color: red; 
    text-align: initial; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-bottom: 12px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}