/*PALETA DE COLORES:
Celeste oscuro: #2E424D
Celeste:        #5B8291
Celeste claro:  #98DAD9
Blanco:         #EAEBED
Negro:          #252525
*/

:root { /*Variables*/
    --gris: #EAEBED;
    --sky-blue: #5B8291;
    --dark-sky-blue: #2E424D;
    --dark: #252525;
    --light-sky-blue: #98DAD9;
    --white: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* De esta manera incluyo el padding y el border en la altura-ancho total */
}

html {
    font-family: 'Lato', sans-serif;
    color: var(--white);
}

.background img {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.register-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--white);
    border-radius: 64px 64px 0 0;
    width: 1000px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 70px;
    width: auto;

    padding-top: 7px;
    padding-bottom: 7px;
}

#form-container {
    background-color: var(--dark-sky-blue);
    width: 1000px;
    padding: 32px;
    opacity: 0.8;
    border-radius: 0 0 64px 64px;
    margin-bottom: 32px;
}

#register-form {
    display: grid;
    align-items: center;
    justify-items: center;
}

.left-form-container, .right-form-container {
    display: grid;
    grid-gap: 24px;
    margin-bottom: 24px;
}

#send-form {
    grid-column: 1 / 3;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text-box label {
    font-size: 24px;
}

.text-box input {
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid var(--white);
    border-radius: 16px;
    width: 420px;
    height: 50px;
    color: white;
    font-size: medium;
    padding: 16px;
    padding-right: 48px;
}

.text-box input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-box input[type="number"] {
    appearance: none; 
}

.text-box input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.password-input-container {
    position: relative;
}

.password-input-container a {
    color: var(--white);
    font-size: medium;
    margin-bottom: 16px;
}

.button-eye {
    position: absolute;
    top: 0;
    right: 18px;
    transform: translateY(53%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 24px;
    color: var(--white);
}

.show-icon, .hide-icon {
    display: block;
}

.hide-icon {
    display: none;
}

.checkbox-container {
    position: relative;
}

.label {
    font-size: 18px;
    padding-left: 36px;
}

.label a{
    color: var(--white);
}

#id_checkbox {
    position: absolute;
    left: 0px;
    width: 19px;
    height: 19px;
    z-index: -1;
    opacity: 0;
}

.control-indicator {
    position: absolute;
    top: 0px;
    height: 20px;
    width: 20px;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid var(--white);
    border-radius: 3px;
}

.control-indicator:hover {
    background: var(--white);
    opacity: 3;
}

#id_checkbox:checked ~ .control-indicator {
    background-color: var(--white);
}

#id_checkbox:disabled ~ .control-indicator {
    background: #e6e6e6;
    opacity: 5;
    pointer-events: none;
}

.control-indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

#id_checkbox:checked ~ .control-indicator {
    background: var(--white);
}

#id_checkbox:checked ~ .control-indicator:after {
    display: block;
}

.control-indicator:after {
    left: 6px;
    top: 1.9px;
    width: 4px;
    height: 9px;
    border: solid var(--dark);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.control-indicator::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    margin-left: -8.5px;
    margin-top: -8.5px;
    background: white;
    border-radius: 36px;
    opacity: 0.5;
    z-index: 99999;
    transform: scale(0);
}

#id_checkbox + .control-indicator::before {
    animation: s-ripple 250ms ease-out;
}

#id_checkbox:checked + .control-indicator::before {
    animation-name: s-ripple-dup;
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
     }
    30% {
         transform: scale(1);
     }
     60% {
         transform: scale(1);
     }
     100% {
         opacity: 0;
         transform: scale(1);
     }
}

#interactive-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#interactive-button-container a{
    text-decoration-color: var(--white);
}

#interactive-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    font-size: 24px;
    font-weight: normal;
    color: var(--white);
    cursor: pointer;
    gap: 5px;
}

#interactive-button img {
    width: 1.1em;
    height: 1.1em;
    filter: invert(100%)
}

#submit-button {
    background: var(--white);
    color: var(--dark);
    padding: 16px 60px;
    font-size: 24px;
    padding: 16px 128px;
    border-radius: 32px;
}

/* Estilos para dispositivos medianos */
@media screen and (max-width: 1023px) {
    .register-container {
        position: relative;
    }

    header {
        border-radius: 32px 32px 0 0;
        width: 600px;
        height: 100px;
    }
    
    header img {
        height: 74px;
        width: auto;
    }

    #form-container {
        width: 600px;
        border-radius: 0 0 32px 32px;
    }

    #register-form {
        grid-template-columns: 1fr;
    }

    .left-form-container{
        grid-row: 1;
    }

    .right-form-container{
        grid-row: 2;
    }

    #register-form input {
        border-radius: 16px;
        width: 500px;
        height: 60px;
    }

    #submit-button {
        font-size: 24px;
        padding: 16px 60px;
        border-radius: 16px;
    }
}

.error {
    position: absolute;
    color: red;
    margin-top: 99px;
    font-weight: bold;

    font-size: 14px;
}

/* Estilos para dispositivos pequeños (móviles) */
@media screen and (max-width: 640px) {
    header {
        border-radius: 32px 32px 0 0;
        width: 360px;
        height: 80px;
    }

    header img {
        height: 63px;
        width: auto;
    }

    #form-container {
        width: 360px;
        height: auto;
    }

    #interactive-button {
        font-size: 20px;
    }

    #interactive-button img {
        width: 23px;
        height: auto;
    }

    #form-container {
        padding: 32px;
    }

    #register-form input {
        border-radius: 8px;
        width: 300px;
        height: 48px;
    }

    #submit-button {
        font-size: 16px;
        padding: 12px 48px;
        border-radius: 16px;
    }

    .label {
        font-size: 16px;
        padding-left: 28px;
    }
}