.navbar {
    background-color: var(--grey);
    position: fixed;
    top: 100px;
    width: 384px;
    height: 100%;
    padding: 32px 24px;
    transition: all .2s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.navlinks {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start ;
}

.navlinks a {
    background-color: var(--white);
    color: var(--dark-sky-blue);
    width: 100%;
    height: 48px;
    border-radius: 16px;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.navlinks svg {
    margin-right: 12px;
}

.navlinks a:hover {
    background-color: var(--sky-blue);
    color: var(--white);
    opacity: 0.8;
}

.navlinks a:active {
    background-color: var(--dark-sky-blue);
    color: var(--white);
    opacity: 1.0;
}

@media screen and (max-width: 1023px) {
    .navbar {
        width: 284px;
        padding: 24px 16px;
    }

    .navlinks a {
        border-radius: 12px;
    }
}

@media screen and (max-width: 640px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin-left: -100%;
        padding: 0px;
        background-color: rgba(0,0,0,.7);
        z-index: 100;
    }

    .show {
        margin-left: 0;
    }

    .navlinks {
        background-color: var(--grey);
        padding: 20px;
        width: 75%;
        height: 100%;
    }

    .navlinks a {
        background-color: var(--white);
        color: var(--dark-sky-blue);
        width: 100%;
        height: 48px;
        border-radius: 8px;
        padding: 12px 24px;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
    }
}