{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/comingSoon.css' %}">
    <title>Nexus Bank - Coming Soon</title>
</head>
<body>
    <div class="container">
        <h1>¡Página en construcción!</h1>
        <img src="{% static 'base/img/construccion-page.gif' %}" alt="Hombre construyendo una página web">
    </div>
</body>
</html>

