#div {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 30px;
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 30px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center center;
}

.subtitle {
    font-size: 26px;
    font-weight: normal;
    color: #fff;
    text-align: initial;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 20px;
}

#converter {
    background-color: #fff;
    height: 145px;
    padding: 13px;

    border-radius: 15px;
    align-items: center;
}

#converterOptions {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30.5% 27% 3% 27%;
    grid-template-rows: auto auto;
    align-items: center;

    gap: 20% 4%;
    margin-top: 10px;
}

.selectbox {
    cursor: pointer;
    outline: 0;
    color: #333333;
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
}

.selectbox:not(:disabled):hover,
.selectbox:not(:disabled):focus {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #969696;
}

.selectbox:disabled {
    font-size: 16.5px;
    border: none;
    cursor: initial;
    padding: 0px;
}

.selectCoin {
    width: 28%;
    padding-left: 3%;
    padding-right: 3%;
}

#iconArrows {
    cursor: initial;
    justify-self: center;
    width: 1.5em;
    height: 1.5em
}

@media screen and (max-width: 1023px) {
    .section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #converterOptions{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .label {
        display: none;
    }

    #converter {
        height: auto;
    }

    #labelSelect{
        align-self: flex-start;
        padding-left: 10px;
    }

    #selectboxAccount{
        width: 300px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 640px) {}