<div class="{{ styles.media }}">
    <a href="https://www.facebook.com" target="_blank" rel="noreferrer">
        <img src="{% static 'svg/facebook.svg' %}" alt="Facebook Icon" />
    </a>
    <a href="https://twitter.com" target="_blank" rel="noreferrer">
        <img src="{% static 'svg/twitter.svg' %}" alt="Twitter Icon" />
    </a>
    <a href="https://www.instagram.com" target="_blank" rel="noreferrer">
        <img src="{% static 'svg/instagram.svg' %}" alt="Instagram Icon" />
    </a>
</div>