<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'base/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/password-reset-done-style.css' %}">
    <title>Email enviado - NexusBank</title>
</head>

<body>
    <div class="background">
        <img src="{% static 'base/img/background.webp' %}" alt="Fondo principal del sitio">
    </div>

    <div class="login-container">
        <header>
            <a href="{% url 'home' %}">
                <img src="{% static 'cuenta/img/nexusbanklogo3-removebg.png' %}" alt="logo">
            </a>
        </header>
        <div class="form-container">
            <div id="text-container">
                <h1>Email de recuperacion enviado:</h1>
                <p>Hemos enviado un link para que reestablescas tu contraseña a tu email.</p>
            </div>

        </div>
    </div>

</body>
</html>