<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'base/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cuenta/css/login-style.css' %}">
    <title>Enviar email - NexusBank</title>
</head>

<body>
    <div class="background">
        <img src="{% static 'base/img/background.webp' %}" alt="Fondo principal del sitio">
    </div>

    <div class="login-container">
        <header>
            <a href="{% url 'home' %}">
                <img src="{% static 'cuenta/img/nexusbanklogo3-removebg.png' %}" alt="logo">
            </a>
        </header>
        <div class="form-container">
            <form id="login-form" method="POST" action="">
                {% if form.non_field_error %}
                    <p>Error!</p>
                {% endif %}

                <h1>Recupera tu contraseña</h1>
                <p>Introduce el correo con el que te registraste a NexusBank y te enviaremos un e-mail para que recuperes tu contraseña.</p>

                <div class="text-box">
                    <label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
        
                    <div class="text-box">
                        <label for="{{ form.username.id_for_label }}" class="label-input">Correo electronico:</label>
                        {{ form.email }}
                    </div>
        
                    <div class="error">
                        {{ error }}
                    </div>
                </div>
            </form>
        </div>

    </div>

    <script src="{% static 'cuenta/js/login.js' %}"></script>

</body>
</html>