{% extends 'base/base.html' %}

{% block title %}
    Transferencias {{ block.super }}
{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'transferencias/css/transferencias.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Bienvenido {{ nombreUser }}, a tu sección de transferencias</h1>
    <h3>Historial</h3>
    <h3>{{ saldo }}</h3>
    <div class="contenedor">
        {% if transferencias %}
            <ul>
                {% for transferencia in transferencias%}
                    <li>{{ transferencia }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay transferencias  realizadas aún</p>
            <p>¿Quieres realizar alguna?</p>
        {% endif %}  

        {% if balance  > 0 %}
            <a href="{% url 'accion_transferir' %}"><button>Realizar Nueva Transferencia</button></a>
        {% else %}
            <h3 class = 'error'>NO PODES REALIZAR TRANSFERENCIAS</h3>
            <h3 class = 'error'>TU SALDO ES NEGATIVO</h3>
        {% endif %}
    </div>

</div>

    {{ block.super }}
{% endblock %}