.container {
    max-width: 1200px;
    padding: 36px;
}

.contenedor{
    background-color: var(--white);
    opacity: 0.7;
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.cuaderno{
    width: 50px; 
    height: auto; 
}

.link{
    color: #0056b3;
    cursor: pointer;
}

.link:hover{
    color: #007bff;
    text-decoration: underline;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5); 
    background-size: cover; 
    background-position: center center; 
    padding: 24px; 
}

h3 {
    font-size: 24px; 
    font-weight: normal; 
    color: #fff; 
    text-align: initial; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-bottom: 12px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

/*TABLA SERVICIOS*/
.servicios-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
.servicios-table th,
.servicios-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.servicios-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
  
.servicios-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
.servicios-table tr:hover {
    background-color: #ddd;
}
/* Tarjetas */
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 450px;
    height: auto;
    padding: 16px;
    background-color: rgba(255, 255, 255, .7);
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

.cardContent {
    padding: 20px;
    text-align: center;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
}

.monto {
    font-size: 32px;
    font-weight: bold;
    color: #007bff;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}

.button:hover {
    background-color: #0056b3;
}

/*Modal*/
.modal {
    position: fixed;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;
}
  
.modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 28px; 
    color: #333; 
    font-weight: bold; 
    margin-bottom: 10px; 
    text-transform: uppercase; 
}
  
.modal form {
    padding: 12px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}
  
.modal label {
    font-size: 16px;
    margin-top: 10px;
}
  
.modal input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
  
.modal button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
  
.modal button:hover {
    background-color: #e0e0e0;
}
  
.modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    background-color: #fff;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .card {
        width: 350px;
    }

    .modal {
        width: 75%; 
    }

    .modal h2 {
        font-size: 16px; 
        margin-bottom: 20px;
        font-size: 28px; 
        color: #333; 
        font-weight: bold; 
        text-transform: uppercase; 
    }

    .modal label {
        font-size: 14px; 
    }

    .modal input {
        font-size: 12px; 
    }
}

/* Estilos para dispositivos aún más pequeños */
@media screen and (max-width: 640px)  {
    .card {
        width: 350px;
    }

    h1 {
        font-size: 28px;
    }

    .cardContent {
        padding: 15px;
    }

    .monto {
        font-size: 28px;
    }

    .modal .add-servicios {
        font-size: 16px;
        text-align: left;
    }
}