
:root { /*Variables*/
    --gris: #EAEBED;
    --sky-blue: #5B8291;
    --dark-sky-blue: #2E424D;
    --dark: #252525;
    --light-sky-blue: #98DAD9;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*De esta manera incluyo el padding y el border en la altura-ancho total*/
}

html {
    font-family: 'Lato', sans-serif;
    color: var(--white);
}

.background img {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.login-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--white);
    border-radius: 64px 64px 0 0;
    width: 565px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 64px;
    width: auto;
}

.form-container {
    background-color: var(--dark-sky-blue);
    opacity: 0.8;
    border-radius: 0 0 64px 64px;
    width: 565px;
    height: 340px;
}

#text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 44px;
    padding-left: 24px;
    padding-right: 24px;
}

#text-container h1{
    font-size: 40px;
}

#text-container p{
    font-size: 24px;
}

#interactive-buttom-container {
    display: flex;
    justify-content: center;
}

.interactive-button {
    background: var(--white);
    color: var(--dark);
    font-size: 24px;
    padding: 16px 77px;
    border-radius: 32px;
    margin-top: 36px;
}