.formContainer2 {
    background-color: #f0f0f0;
    width: 600px;
    height: auto;
    padding: 24px;
    margin: 24px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formText {
    text-align: center;
    margin-bottom: 20px;
}

.formContainer2 form {
    display: flex;
    flex-direction: column;
}

.formContainer2 label {
    margin-bottom: 5px;
}

.formContainer2 input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.formContainer2 h2 {
    margin-top: 20px;
    font-size: 24px;
}

.formContainer2 p {
    font-size: 16px;
}

@media screen and (max-width: 1023px) {
    .formContainer2 {
        width: auto;
    }
}

@media screen and (max-width: 640px) {
    .formContainer2 {
        width: auto;
    }
}
