{% extends 'sprint7/layout.html' %}

{% block content %}
    <div>
        <h1>HOLA USUARIO</h1>
        <!-- SummaryAccount.html -->
        <div id="{{ styles.accountsContainer }}">
            <h1 id="{{ styles.title }}">Tus cuentas:</h1>
            <ul id="{{ styles.list }}">
                {% for account in accountFake %}
                    <li class="{{ styles.elements }}">
                        <span>{{ account.title }}</span>
                        <span>{{ account.coin|default:'$' }}{{ account.balance }}</span>
                    </li>
                {% endfor %}
                {% for card in cardFake %}
                    <li class="{{ styles.elements }}">
                        <span style="justify-content: center; display: flex; gap: 5px;">
                            <img width="25" src="{{ card.img.src }}" alt="{{ card.img.alt }}" loading="lazy">
                            {{ card.title }}
                        </span>
                        <span>{{ card.coin|default:'$' }}{{ card.balance }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}