/*PALETA DE COLORES:
Celeste oscuro: #2E424D
Celeste:        #5B8291
Celeste claro:  #98DAD9
Blanco:         #EAEBED
Negro:          #252525
*/
:root { /*Variables*/
    --primary-background-color: #EAEBED;
    --secondary-background-color: #2E424D;
    --primary-text-color: #252525;
    --important-color: #98DAD9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*De esta manera incluyo el padding y el border en la altura-ancho total*/
}

html {
    font-family: 'Lato', sans-serif;
    color: var(--primary-text-color);
}
/* Grid */
.grid-container {
    background-image: radial-gradient(circle, #98dad9, #addee7, #c5e1ee, #dae5ef, #eaebed);
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 18% 70% auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100vh;
  }

/* Header */  
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

header .logo-container img{
    height: 12vh;
    width: auto;
}

/* Main */
main{
    background-color: rgba(246, 246, 246, 0.766);
    border-bottom: solid var(--primary-background-color) 3px;
    border-top: solid var(--primary-background-color) 3px;
    object-fit: contain;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; 
}

main .image-container img{
    object-fit: contain;
    border-left: solid var(--primary-background-color) 3px;
    border-right: solid var(--primary-background-color) 3px;
    height: 100%;
    width: 100%;
}
main .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .button-eye{
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
    
}

main .icon-terms{
    height: 13px;
    width: 13px;
}
main .icon-eye{
    height: 65%;
    width: 65%;
}

main .interactive-button{
    background-color: white; 
    border: solid var(--secondary-background-color) 1px;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
main .interactive-button:hover {
    background-color: var(--primary-text-color);
    color: white;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
}

/* Register */

.terms-conditions{
    display: flex;
}
