/*PALETA DE COLORES:
Celeste oscuro: #2E424D
Celeste:        #5B8291
Celeste claro:  #98DAD9
Blanco:         #EAEBED
Negro:          #252525
*/
:root { /*Variables*/
    --primary-background-color: #EAEBED;
    --secondary-background-color: #2E424D;
    --primary-text-color: #252525;
    --important-color: #98DAD9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*De esta manera incluyo el padding y el border en la altura-ancho total*/
}

/* Header */
header{
    background-color: var(--primary-background-color);
}   
header .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
header .logo-container img{
    height: 10%;
    width: 10%;
}
/* Main */

main .image-container img{
    height: 30%;
    width: 30%;
}
main .button-eye{
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
    
}

main .icon-terms{
    height: 13px;
    width: 13px;
}
main .icon-eye{
    height: 65%;
    width: 65%;
}