/*PALETA DE COLORES:
Celeste oscuro: #2E424D
Celeste:        #5B8291
Celeste claro:  #98DAD9
Blanco:         #EAEBED
Negro:          #252525
*/
:root { /*Variables*/
    --primary-background-color: #EAEBED;
    --secondary-background-color: #5B8291;
    --sidebar-background-color: #2E424D;
    --primary-text-color: #252525;
    --important-color: #98DAD9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*De esta manera incluyo el padding y el border en la altura-ancho total*/
}

html {
    font-family: 'Lato', sans-serif;
    color: var(--primary-text-color);
}
/* Grid */
.grid-container {
    background-image: radial-gradient(circle, #98dad9, #addee7, #c5e1ee, #dae5ef, #eaebed);
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 18% 70% auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100vh;
  }

/* Header */  
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

header .logo-container img{
    height: 12vh;
    width: auto;
}

/* Main */
main{
    background-color: rgba(246, 246, 246, 0.766);
    border-bottom: solid var(--primary-background-color) 3px;
    border-top: solid var(--primary-background-color) 3px;
    object-fit: contain;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

main .form-container, .main-left-container, .main-right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .main-right-container{
    margin-top: 60px;
}

main .image-container img{
    object-fit: contain;
    border-left: solid var(--primary-background-color) 3px;
    border-right: solid var(--primary-background-color) 3px;
    height: 100%;
    width: 100%;
}

main h1{
    color: var(--sidebar-background-color);
    font-size: 1.5em;
    padding-bottom: 25px;
}
main #register-title{
    padding-left: 90px;
}

main .label-input{
    font-size: 0.9em;
}
main p{
    padding-right: 7px;
    padding-left: 7px;
}

main .textbox, .selectbox{
	border: solid 1px var(--primary-text-color);
    border-radius: 3px; 
	outline: 0;
	height:27px;
	width: 334px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
}
main .textbox:hover , .selectbox:hover{
	border-color: var(--secondary-background-color);
	border-style: solid;
	border-width: 2px
    
}

main .password-input-container{
    position: relative;
}
main .button-eye{
    background-color: transparent;
    position: absolute;
    margin: 2px;
    padding: 5px;
    border: none;
    cursor: pointer;
    right:1px;
}

main .terms-conditions a{
    text-decoration: none;
}
main .terms-conditions .icon-terms{
    margin-top: 1.6px;
    height: 11px;
    width: 11px;
    filter: invert(10%) sepia(70%) saturate(4000%) hue-rotate(265deg);
}
main .icon-eye{
    filter: contrast(20%);
    height: 1.05em;
    width: auto;
}
main .icon-eye:hover{
    filter: contrast(100%);
}

main #interactive-buttom-container{
    display: flex;
    justify-content: space-between;
}
main #interactive-buttom-container .interactive-button{
    background-color: white; 
    border: solid var(--sidebar-background-color) 1px;
    display: inline-block;
    padding: 0.9em 2.95em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}
main #interactive-buttom-container .interactive-button:hover {
    background-color: var(--sidebar-background-color);
    color: white;
}

main .selectbox{
    cursor: pointer;
    &:required:invalid{
      color: #5A667F
    }
}
main .selectbox option{
    color: var(--primary-text-color);
    background-color: rgb(246, 246, 246);
    &[value=""]{
        display: none
    }
}

main .terms-conditions, .remember-me{
    padding-bottom:10px;
    font-size: small;
    display: flex;
}
main .remember-me label{
    padding-left: 5px;
}


/* Footer */

footer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer a, span{
    margin: 10px;
    color:var(--sidebar-background-color);
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}


/* Register */
