.contact { 
    text-align: left;

    display: flex;
    flex-direction: column;
}

.contact p,
.contact a {
    padding: 4px;
}

@media screen and (max-width: 1023px) {
    .contact {
        text-align: center;
    }
}